html,
body {
  height: 100%;
  font-family: "Nunito";
}

h1 {
  font-weight: bold;
}

#intro-div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c25619;
}

#name {
  font-size: 3vw;
  color: white;
}

.home-btn {
  color: white;
  font-size: 1.5vw;
  border: solid 2px white;
  border-radius: 10px;
  text-decoration: none !important;
}

.home-btn:hover {
  border: 2px solid black;
  color: black;
}

.activity-img {
  margin: 10px 20px;
  transition: transform 0.5s;
}

.activity-img:hover {
  transform: scale(1.5);
}

.down-arrow-div {
  position: absolute;
  right: 48%;
  bottom: 10px;
}

#bouncing-down-arrow {
  -webkit-animation: bounce 2s infinite ease-in-out;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
  }
  80% {
    -webkit-transform: translateY(-20px);
  }
}

/*color change animation (NOT IN USE)*/
@-webkit-keyframes colorchange {
  0% {
    color: white;
  }

  10% {
    color: green;
  }

  20% {
    color: #1abc9c;
  }

  30% {
    color: white;
  }

  40% {
    color: mediumslateblue;
  }

  50% {
    color: #34495e;
  }

  60% {
    color: greenyellow;
  }

  70% {
    color: lightcyan;
  }
  80% {
    color: lightgoldenrodyellow;
  }

  90% {
    color: blanchedalmond;
  }

  100% {
    color: white;
  }
}

.typed::after {
  content: "|";
  display: inline;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor {
  opacity: 0;
  display: none;
}
/*Custom cursor animation*/
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#details {
  font-size: 1.5em;
  color: white;
  background-color: #26477d;
}

#projects-showroom {
  font-size: 1.5em;
  background-color: #eda926;
}

.card {
  box-shadow: 10px 10px #888888;
}

.card-header {
  color: white;
}

.card-body {
  color: white;
  font-size: 1em;
}

.view-project-btn {
  border: 1px solid black !important;
  box-shadow: 2px 2px black;
  color: ghostwhite;
}

#games-showroom {
  font-size: 1.5em;
  background-color: #458b74;
  color: white;
}

.play-game-btn {
  text-decoration: none;
  border: 1px solid blue;
  box-shadow: 2px 2px black;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
}

.play-game-btn:hover {
  text-decoration: none;
  font-size: 1.5em;
  transition: 1.5s;
}

#footer-div {
  padding-top: 150px;
  background-color: #458b74;
}

#footer {
  font-size: 1.2em;
  color: black;
  text-align: center;
}
