#background {
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("media/light.mp4") no-repeat;
    background-size: cover;
}

body {
    font-family: 'Raleway';
}

.container {
    color: blanchedalmond;
    text-align: center;
    margin-top: 15%;
}

h1 {
    font-size: 300%;
}

#portfolio {
    color: blanchedalmond;
    border-radius: 9px;
    font-size: 150%;
    padding: 17px 17px;
    border: solid blanchedalmond 1px;
    align-content: center;
    margin: 7px;
}